/* .promoCard{
    display:flex;
    flex-direction: row;
    border:1px solid grey;
    border-radius: 5px;
    padding:2rem 4rem;

   h1 { font-size: 1rem;}

   .cardInfo{
    display:flex;
    flex-direction: column;
    padding: 1rem 2rem;
   }
   .imageSpace{width:100px;

img{width:100%} }
} */